<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 비교</title>
</head>
<body>
    <h1>비교 결과</h1>

    <h2>예금 상품</h2>
    <table border="1">
        <thead>
            <tr>
                <th>금융 회사명</th>
                <th>상품명</th>
                <th>기타 유의사항</th>
                <th>최고 한도</th>
                <th>금리</th>
                <th>우대 금리</th>
                <th>저축 기간</th>
            </tr>
        </thead>
        <tbody>
            {% for product in deposit_products %}
            <tr>
                <td>{{ product.kor_co_nm }}</td>
                <td>{{ product.fin_prdt_nm }}</td>
                <td>{{ product.etc_note }}</td>
                <td>{{ product.max_limit }}</td>
                <td>
                    {% for option in product.options.all %}
                        <div>{{ option.intr_rate }}%</div>
                    {% endfor %}
                </td>
                <td>
                    {% for option in product.options.all %}
                        <div>{{ option.intr_rate2 }}%</div>
                    {% endfor %}
                </td>
                <td>
                    {% for option in product.options.all %}
                        <div>{{ option.save_trm }}개월</div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>적금 상품</h2>
    <table border="1">
        <thead>
            <tr>
                <th>금융 회사명</th>
                <th>상품명</th>
                <th>기타 유의사항</th>
                <th>최고 한도</th>
                <th>금리</th>
                <th>우대 금리</th>
                <th>적립 유형명</th>
                <th>저축 기간</th>
            </tr>
        </thead>
        <tbody>
            {% for product in saving_products %}
            <tr>
                <td>{{ product.kor_co_nm }}</td>
                <td>{{ product.fin_prdt_nm }}</td>
                <td>{{ product.etc_note }}</td>
                <td>{{ product.max_limit }}</td>
                <td>
                    {% for option in product.options.all %}
                        <div>{{ option.intr_rate }}%</div>
                    {% endfor %}
                </td>
                <td>
                    {% for option in product.options.all %}
                        <div>{{ option.intr_rate2 }}%</div>
                    {% endfor %}
                </td>
                <td>
                    {% for option in product.options.all %}
                        <div>{{ option.rsrv_type_nm }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for option in product.options.all %}
                        <div>{{ option.save_trm }}개월</div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'accounts:profile' user.username %}">뒤로 가기</a>
</body>
</html>
