{% extends 'base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="container signup-container">
    <h2>회원가입</h2>
    <form action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="회원가입">
    </form>
    <a href="{% url 'articles:index' %}">메인으로</a>
  </div>
</div>
{% endblock %}
