{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'articles.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <h2>글쓰기</h2>
    <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        <label for="{{ form.title.id_for_label }}">제목:</label>
        {{ form.title }}
        {{ form.title.errors }}

        <label for="{{ form.content.id_for_label }}">내용:</label>
        {{ form.content }}
        {{ form.content.errors }}

        <input type="submit" value="등록">
        <button id="cancelButton">뒤로가기</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.getElementById("cancelButton").addEventListener("click", function(event) {
        event.preventDefault(); // 기본 제출 동작을 막음
        window.location.href = "{% url 'articles:index' %}"; // 원하는 URL로 이동
    });
</script>
{% endblock content %}
