asgiref==3.7.2
asttokens==2.4.1
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
decorator==5.1.1
dj-rest-auth==6.0.0
Django==4.2.8
django-allauth==0.59.0
django-cors-headers==4.3.1
django-environ==0.11.2
django-extensions==3.2.3
django-rest-framework==0.1.0
djangorestframework==3.15.1
executing==2.0.1
idna==3.6
ipython==8.22.2
jedi==0.19.1
matplotlib-inline==0.1.6
parso==0.8.3
pip==24.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
Pygments==2.17.2
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.14.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.1.0
wcwidth==0.2.13
