{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'writing.css' %}" >
{% endblock style %}

{% block content %}

  
  <form action="{% url "articles:create" %}" method="POST">
    {% csrf_token %}
    <table>
      <tr>
          <td><h2>글쓰기</h2></td>
      </tr>
      <tr>
          <td>
              <label for="{{ form.title.id_for_label }}">제목:</label>
              {{ form.title }}
              {{ form.title.errors }}
          </td>
      </tr>
      <tr>
          <td>
              <label for="{{ form.content.id_for_label }}">내용:</label>
              {{ form.content }}
              {{ form.content.errors }}
          </td>
      </tr>
      <tr>
          <td><input type="submit" value="등록"></td>
          <td><input type="submit" value="뒤로가기" id="submitButton"></td>
      </tr>
  </table>

  </form>
  <hr>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.getElementById("submitButton").addEventListener("click", function(event) {
      event.preventDefault(); // 기본 제출 동작을 막음
      window.location.href = "{% url 'articles:index' %}"; // 원하는 URL로 이동
  });
  </script>
{% endblock content %}
